In [3]:
time = pd.read_csv("coronavirusdataset\\Time.csv")
search_trend = pd.read_csv("coronavirusdataset\\SearchTrend.csv")

In [8]:
# Time의 누적확진자 수
confirmed_data = time[['date', 'confirmed']]
# 누적 확진자 수의 변화량 = 일일 확진자 수
daily_confirmed = (np.r_[0, np.diff(confirmed_data['confirmed'])]/1).astype('int')
confirmed_data['일일확진자수'] = daily_confirmed
confirmed_data

           date  confirmed  일일확진자수
0    2020-01-20          1       0
1    2020-01-21          1       0
2    2020-01-22          1       0
3    2020-01-23          1       0
4    2020-01-24          2       1
..          ...        ...     ...
97   2020-04-26      10728      10
98   2020-04-27      10738      10
99   2020-04-28      10752      14
100  2020-04-29      10761       9
101  2020-04-30      10765       4

[102 rows x 3 columns]

In [10]:
# confirmed_data를 2020년 1월 1일부터 2020년 4월 29일까지 기간 동안 모든 데이터를 생성
date_data = pd.DataFrame()
date_data["date"] = pd.date_range("2020-01-01", "2020-04-29")
# date_data와 confirmed_data의 confirmed_date의 자료형을 동일하게 만듬
confirmed_data["date"] =  pd.to_datetime(confirmed_data["date"])
# confrimed_data와 date_data를 merge
confirmed_data = date_data.merge(confirmed_data, how = 'outer')
# NaN = 확진자가 없는 날짜 : 일일 확진자 수(dayofconfirmed )= 0
confirmed_data.fillna(value = 0, inplace=True)
confirmed_data = confirmed_data.astype({"일일확진자수":'int'})
confirmed_data = confirmed_data.astype({"confirmed":'int'})
confirmed_data.rename(columns = {'confirmed':'누적확진자수'}, inplace = True)
confirmed_data

          date  누적확진자수  일일확진자수
0   2020-01-01       0       0
1   2020-01-02       0       0
2   2020-01-03       0       0
3   2020-01-04       0       0
4   2020-01-05       0       0
..         ...     ...     ...
116 2020-04-26   10728      10
117 2020-04-27   10738      10
118 2020-04-28   10752      14
119 2020-04-29   10761       9
120 2020-04-30   10765       4

[121 rows x 3 columns]

In [13]:
# 일일 확진자 수를 통해 누적 확진자 컬럼 생성
confirmed_data["누적확진자수"] = confirmed_data["일일확진자수"].cumsum(axis = 0)
confirmed_data.rename(columns={"date":"날짜"}, inplace = True)
confirmed_data

            날짜  누적확진자수  일일확진자수
0   2020-01-01       0       0
1   2020-01-02       0       0
2   2020-01-03       0       0
3   2020-01-04       0       0
4   2020-01-05       0       0
..         ...     ...     ...
116 2020-04-26   10727      10
117 2020-04-27   10737      10
118 2020-04-28   10751      14
119 2020-04-29   10760       9
120 2020-04-30   10764       4

[121 rows x 3 columns]

In [14]:
search_trend = search_trend[search_trend["date"] > "2020-00-00"]
search_trend.reset_index(drop=True, inplace=True)
search_trend

           date     cold      flu  pneumonia  coronavirus
0    2020-01-01  0.14454  0.48434    0.44880      0.01699
1    2020-01-02  0.19508  0.85751    0.36471      0.01827
2    2020-01-03  0.19581  0.80443    0.46598      0.02845
3    2020-01-04  0.60343  0.86961    0.49571      0.02136
4    2020-01-05  0.20081  0.84152    0.41644      0.01927
..          ...      ...      ...        ...          ...
115  2020-04-25  0.12781  0.02709    0.08672      4.13405
116  2020-04-26  0.13363  0.03263    0.08136      3.95342
117  2020-04-27  0.11226  0.04427    0.10390      4.11033
118  2020-04-28  0.11481  0.03981    0.10336      3.73088
119  2020-04-29  0.10781  0.04163    0.09136      3.78952

[120 rows x 5 columns]

In [15]:
confirmed_data["search_trend"] = search_trend["coronavirus"]
confirmed_data

            날짜  누적확진자수  일일확진자수  search_trend
0   2020-01-01       0       0       0.01699
1   2020-01-02       0       0       0.01827
2   2020-01-03       0       0       0.02845
3   2020-01-04       0       0       0.02136
4   2020-01-05       0       0       0.01927
..         ...     ...     ...           ...
116 2020-04-26   10727      10       3.95342
117 2020-04-27   10737      10       4.11033
118 2020-04-28   10751      14       3.73088
119 2020-04-29   10760       9       3.78952
120 2020-04-30   10764       4           NaN

[121 rows x 4 columns]

In [16]:
confirmed_data.to_csv("datas_confirmed.csv")